!.gitignore

*.[oa]
*.so
*~
*.bak
.*

undefined
alpm.h
clyde
clydelib/sync.lua.beforeaur
clydelib/colortest.lua
callbacktest.lua
driver.lua
gettext.h
pacman.tar.gz
profile
signal.c
summary.lua
test.lua
toxic.c
unistd.c

